<a href="https://colab.research.google.com/github/avneet007e/A-simple-Calculator/blob/master/car_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
df=pd.read_csv('car data.csv')
df

    Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0       ritz  2014           3.35  ...       Dealer        Manual     0
1        sx4  2013           4.75  ...       Dealer        Manual     0
2       ciaz  2017           7.25  ...       Dealer        Manual     0
3    wagon r  2011           2.85  ...       Dealer        Manual     0
4      swift  2014           4.60  ...       Dealer        Manual     0
..       ...   ...            ...  ...          ...           ...   ...
296     city  2016           9.50  ...       Dealer        Manual     0
297     brio  2015           4.00  ...       Dealer        Manual     0
298     city  2009           3.35  ...       Dealer        Manual     0
299     city  2017          11.50  ...       Dealer        Manual     0
300     brio  2016           5.30  ...       Dealer        Manual     0

[301 rows x 9 columns]

In [5]:
inputs=df.drop(['Car_Name','Owner','Seller_Type'],axis='columns') 
target=df.Selling_Price
inputs

     Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Transmission
0    2014           3.35           5.59       27000    Petrol       Manual
1    2013           4.75           9.54       43000    Diesel       Manual
2    2017           7.25           9.85        6900    Petrol       Manual
3    2011           2.85           4.15        5200    Petrol       Manual
4    2014           4.60           6.87       42450    Diesel       Manual
..    ...            ...            ...         ...       ...          ...
296  2016           9.50          11.60       33988    Diesel       Manual
297  2015           4.00           5.90       60000    Petrol       Manual
298  2009           3.35          11.00       87934    Petrol       Manual
299  2017          11.50          12.50        9000    Diesel       Manual
300  2016           5.30           5.90        5464    Petrol       Manual

[301 rows x 6 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder
Numerics=LabelEncoder()

In [7]:
inputs['Fuel_Type_n']=Numerics.fit_transform(inputs['Fuel_Type'])
inputs['Transmission_n']=Numerics.fit_transform(inputs['Transmission'])
inputs

     Year  Selling_Price  ...  Fuel_Type_n  Transmission_n
0    2014           3.35  ...            2               1
1    2013           4.75  ...            1               1
2    2017           7.25  ...            2               1
3    2011           2.85  ...            2               1
4    2014           4.60  ...            1               1
..    ...            ...  ...          ...             ...
296  2016           9.50  ...            1               1
297  2015           4.00  ...            2               1
298  2009           3.35  ...            2               1
299  2017          11.50  ...            1               1
300  2016           5.30  ...            2               1

[301 rows x 8 columns]

In [8]:
inputs_n=inputs.drop(['Fuel_Type','Transmission','Selling_Price'],axis='columns') 
inputs_n

     Year  Present_Price  Kms_Driven  Fuel_Type_n  Transmission_n
0    2014           5.59       27000            2               1
1    2013           9.54       43000            1               1
2    2017           9.85        6900            2               1
3    2011           4.15        5200            2               1
4    2014           6.87       42450            1               1
..    ...            ...         ...          ...             ...
296  2016          11.60       33988            1               1
297  2015           5.90       60000            2               1
298  2009          11.00       87934            2               1
299  2017          12.50        9000            1               1
300  2016           5.90        5464            2               1

[301 rows x 5 columns]

In [9]:
model=linear_model.LinearRegression()

In [10]:
model.fit(inputs_n,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
pred=model.predict([[2013,9.54,430000,1,1]])
pred

array([4.18281815])